.square {
    border: 1px solid black;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;   
    border-radius: 10px;
    -webkit-border-radius: 10px 10px 10px 10pxs;
    -moz-border-radius: 10px 10px 10px 10px;
}

.container {
    border: 1px solid gold;
    margin: 5em;
    height: 98vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}